{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'all_brands_shop/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'all_brands_shop/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'all_brands_shop/css/style.css' %}">
</head>
<body>
{% block body %}

{% endblock body %}



    <!-- JS -->
    <script src="{% static 'all_brands_shop/js/jquery.min.js' %}"></script>
    <script src="{% static 'all_brands_shop/js/login.js' %}"></script>
</body>
</html>